@use 'bootstrap/dist/css/bootstrap';

html, body {
  height: 100%;
}

.navbar {
  background-color: #000 !important;
}

.nav-link {
  color: white !important;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
  background-image: asset-url('writing.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

.display-4 {
  padding-top: 25px;
}

.no-underline {
  text-decoration: none;
}

// Pagination Styling
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;

  a, span, em {
    padding: 0.2em 0.5em;
    border-radius: 5px;
  }

  .disabled {
    color: #aaaaaa;
  }

  .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084;
  }

  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }

  .previous_page, .next_page {
    border-width: 2px;
  }

  .previous_page {
    margin-right: 1em;
  }

  .next_page {
    margin-left: 1em;
  }

  a {
    border: 1px solid whitesmoke;
    color: whitesmoke;
    text-decoration: none;

    &:hover, &:focus {
      border-color: gray;
      background: whitesmoke;
      color: gray;
    }
  }
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

#sticky-footer {
  flex-shrink: none;
}

