<h4 class="ui center aligned medium icon header">
  <i class="orange circular coffee icon"></i>
  <span>Say Something</span>
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_with class: 'ui reply form' do |form| %>
          <div class="field">
            <div class="ui fluid icon input">
              <i class="bordered inverted orange edit icon"></i>
              <%= form.text_field :attr, placeholder: "Enter a message..." %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a href="" class="active item">
            Users Online
          </a>
          <a href="" class="item">
            Messages
          </a>
          <a href="" class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
<div>
